*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #d6e2f0;
}

.qr-code {
    width: 32rem;
    height: auto;
    margin: 15rem auto 2rem auto;
    border: 2px solid white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1.3rem;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
}

img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.qr-code-heading {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #1f3251;
}

.qr-code-paragraph {
    font-weight: 400;
    color: #68778d;
    font-size: 1.8rem;
}

.attribution {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

.attribution a {
    color: #3e52a3;
    text-decoration: none;
}

@media only screen and (max-width: 375px) {
    html {
        font-size: 56.3%;
    }

    .qr-code {
        margin: 9rem auto 1.5rem auto;
    }
}

@media only screen and (max-width: 720px) {
    html {
        font-size: 56.3%;
    }

    .qr-code {
        margin: 9rem auto 1.5rem auto;
    }
}